<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <rewrite>
            <rules>
                <rule name="http" enabled="false" patternSyntax="Wildcard" stopProcessing="true">
                    <match url="*" />
                    <conditions>
                        <add input="{HTTP}" pattern="off" />
                    </conditions>
                    <action type="Redirect" url="http://localhost:2500/" redirectType="Found" />
                </rule>
            </rules>
        </rewrite>
        <handlers>
            <add name="*" path="iisnode" verb="*" modules="iisnode" scriptProcessor="C:\Program Files\iisnode\iisnode.dll" resourceType="File" preCondition="bitness64,winx86_64" />
        </handlers>
    </system.webServer>
</configuration>
